{% extends 'partials/_mainLayout.html' %}


{% block content %}
  {% for x in value %}
  <div class="blog-card spring-fever">
    <div class="title-content">
      <h3><a href="#">{{x.title}}</a></h3>
      <div class="intro"> <a href="#">Inspiration</a> </div>
    </div>
    <div class="card-info">
      {{x.description}}
      <a href="{% url 'blog_details' x.id %}">Read More<span class="licon icon-arr icon-black"></span></a>
    </div>
    <div class="utility-info">
      <ul class="utility-list">
        <li><span class="licon icon-dat"></span>{{x.create_date}}</li>
        <li><span class="licon icon-tag"></span><a href="#">Photos</a>, <a href="#">Nice</a></li>
      </ul>
    </div>
    <div class="gradient-overlay"></div>
    <div class="color-overlay"></div>
  </div><!-- /.blog-card -->  
  {% endfor %}
{% endblock content %}

