{% extends 'partials/_layout.html' %}

{% block content %}
  <div class="container-fluid mt-5">
       
        <form action="{% url 'postblog' %}" method="POST">
          {% csrf_token %}
          <label for="">Image</label>
          <input type="text" name="image" class="form-control">
          <br>
          <label for="">Title</label>
          <input type="text" name="title" class="form-control">
          <br>
          <label for="">Description</label>
          <input type="text" name="description" class="form-control">
          <br>
          <label for="">Slug Title</label>
          <input type="text" name="slugTitle" class="form-control">
          <br>
          <label for="">Is Active</label>
          <input type="checkbox" name="isActive" class="">
          <br>
          <br>
          <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
    </div>

    <div class="container-fluid">
      
          <table class="table table-bordered text-center mt-5">
            <thead>
              <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Description</td>
                <td>IsActive</td>
                <td>Create Date</td>
                <td>Update Date</td>
                <td>Updated</td>
                <td>Deleted</td>
              </tr>
            </thead>
            <tbody>
                {% for x in blogValue %}
                  {% if x.isActive %}
                    <tr>
                      <td>{{x.id}}</td>
                      <td>{{x.title}}</td>
                      <td>{{x.description}}</td>
                      <td>{{x.IsActive}}</td>
                      <td>{{x.create_date}}</td>
                      <td>{{x.update_date}}</td>
                      <td><a href="{% url 'getUpdate' x.id %}" class="btn btn-outline-warning">Updated</a></td>
                      <td><a href="{% url 'remove' x.id %}" class="btn btn-outline-danger">Deleted</a></td>
                    </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        
    </div>

{% endblock content %}
  <div class="container-fluid mt-5">
       
        <form action="{% url 'postblog' %}" method="POST">
          {% csrf_token %}
          <label for="">Image</label>
          <input type="text" name="image" class="form-control">
          <br>
          <label for="">Title</label>
          <input type="text" name="title" class="form-control">
          <br>
          <label for="">Description</label>
          <input type="text" name="description" class="form-control">
          <br>
          <label for="">Slug Title</label>
          <input type="text" name="slugTitle" class="form-control">
          <br>
          <label for="">Is Active</label>
          <input type="checkbox" name="isActive" class="">
          <br>
          <br>
          <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
    </div>

    <div class="container-fluid">
      
          <table class="table table-bordered text-center mt-5">
            <thead>
              <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Description</td>
                <td>IsActive</td>
                <td>Create Date</td>
                <td>Update Date</td>
                <td>Updated</td>
                <td>Deleted</td>
              </tr>
            </thead>
            <tbody>
                {% for x in blogValue %}
                  {% if x.isActive %}
                    <tr>
                      <td>{{x.id}}</td>
                      <td>{{x.title}}</td>
                      <td>{{x.description}}</td>
                      <td>{{x.IsActive}}</td>
                      <td>{{x.create_date}}</td>
                      <td>{{x.update_date}}</td>
                      <td><a href="{% url 'getUpdate' x.id %}" class="btn btn-outline-warning">Updated</a></td>
                      <td><a href="{% url 'remove' x.id %}" class="btn btn-outline-danger">Deleted</a></td>
                    </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        
    </div>

